body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(200, 146, 146);
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: 200px 1fr 1fr;
    justify-content: center;
}
#selected {
    pointer-events: none;
}
.header {
    /* grid-column: 2 / 3; */
    color: white;
    font-size: 32px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/* .winnerBox {
    position: absolute; 
    grid-column: 1 / 2;
    text-align: center;
    
    background-color: rgb(106, 106, 179);
    border-radius: 15px;
    padding: 10px;
    color: white;
    width: 40%;
    height: 40%;
} */

.mainGrid {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr 2fr;
    border-radius: 15px;
    gap: 10px;
}


.cellOne, .cellTwo, .cellThree, .cellFour, .cellFive
, .cellSix, .cellSeven, .cellEight, .cellNine {
    background-color: rgb(106, 106, 179);
    transition: 0.3s;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

    color: white;
}

/* .cellOne:hover, .cellTwo:hover, .cellThree:hover, .cellFour:hover, .cellFive:hover
, .cellSix:hover, .cellSeven:hover, .cellEight:hover, .cellNine:hover {
    background-color: rgb(244, 244, 244);
    border: 1px solid black;
} */

.playerOne {
    background-color: pink;
    color: white;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
}
.playerTwo {
    background-color: purple;
    color: white;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
}
input {
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(200, 146, 146);
    border: none;

}
.footer {
    text-align: center;
    color: white;
    font-size: 32px;
    font-weight: 700;
    display: grid;
    align-items: center;
    justify-content: center;
}